.MainHome {
  padding-top: 254.33px;
  padding-bottom: 233.67px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/Images/EventinSurtaal/homepage_3x.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.Celebrate {
  border-radius: 147.91px;
  padding: 12px 27.5px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 42px;
}

.CircleDiv {
  width: 14px;
  height: 14px;
  background: #bd0040;
  border-radius: 50%;
}

.Celebratetext {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.58px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.FeelText {
  font-family: "Georama-Regular", sans-serif;
  font-weight: 400;
  font-size: 88px;
  line-height: 98.24px;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  text-shadow: 0px 4.47px 27.91px rgba(0, 0, 0, 0.65);
  margin: 0;
  margin-bottom: 52px;
}

.FeelText span {
  font-family: "Georama-Bold", sans-serif;
  font-weight: 700;
  color: #bd0040;
}

.Leteverytext {
  max-width: 952px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.65);
  margin: 0 auto 53px auto;
}

.SeeHowbtn {
  height: 74px;
  background: linear-gradient(177.7deg, #bd0040 -1.74%, #890531 98.07%);
  padding: 0 43.56px;
  font-family: "Outfit-Medium";
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13.45px;
  border: none;
  border-radius: 13.45px;
  color: #ffffff;
  cursor: pointer;
}

.ourServices {
  padding: 56px 85px 102.77px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ServicesDiv {
  padding: 0 23.75px;
  height: 44.23px;
  background: rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16.38px;
  border-radius: 50px;
  margin-bottom: 42px;
}

.CircleServices {
  width: 11.47px;
  height: 11.47px;
  background: #bd0040;
  border-radius: 50%;
}

.ServicesText {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 19.66px;
  line-height: 24.23px;
  letter-spacing: 8.19px;
  text-transform: uppercase;
  color: #272727;
  margin: 0;
}

.WhatWeOffer {
  font-family: "Georama-Regular", sans-serif;
  font-weight: 400;
  font-size: 68px;
  line-height: 70px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #272727;
  margin: 0 0 38px 0;
}

.WhatWeOffer span {
  font-family: "Georama-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 68px;
  line-height: 70px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #bd0040;
}

.ServiceDescTop {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: center;
  color: #272727;
  max-width: 952px;
  margin-bottom: 58px;
}

.ServiceCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.ServiceCardsDiv {
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ServiceCardsDiv img {
  width: 402px;
  height: auto;
  margin-bottom: 50px;
}

.Servicename {
  font-family: "Georama-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 46px;
  letter-spacing: 0.02em;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  color: #272727;
  margin: 0 0 38px 0;
}

.ServiceDesc {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #272727;
  margin: 0;
}

.AboutDiv {
  display: flex;
  flex-direction: row;
}

.AboutDiv > img {
  width: 842px;
  height: auto;
  object-fit: cover;
}

.SecondAbout {
  padding: 63px 72px 62px 57px;
  display: flex;
  flex-direction: column;
  background: #e6e6e5;
}

.BringingText {
  font-family: "Georama-Regular", sans-serif;
  font-weight: 400;
  font-size: 68px;
  line-height: 85px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #272727;
  margin: 24px 0 32px 0;
  max-width: 779px;
}

.BringingText span {
  font-family: "Georama-SemiBold", sans-serif;
  font-weight: 600;
  color: #bd0040;
}

.AboutDesc {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0;
  color: #272727;
  margin: 0 0 40px 0;
}

.Oureventdiv {
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 62px 85px 67.64px;
}

.eventdetail {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* margin-top: 40px; */
}

.eventDateCol {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}

.event21 {
  font-family: "Georama-Medium", sans-serif;
  font-weight: 500;
  font-size: 92px;
  line-height: 1;
  color: #272727;
  margin: 0;
}

.eventMonthDayCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.eventMonth {
  font-family: "Georama-Regular", sans-serif;
  font-size: 48px;
  line-height: 1;
  color: #bd0040;
  margin: 0;
}

.eventDay {
  font-family: "Georama-SemiBold", sans-serif;
  font-size: 34px;
  line-height: 1;
  color: #4b4b4b;
  margin: 0;
}

.littleline {
  width: 1px;
  height: 132px;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 50px;
}

.eventLocationCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  max-width: 857px;
  width: 100%;
}

.eventCity {
  font-family: "Georama-Regular", sans-serif;
  font-size: 48px;
  line-height: 1;
  color: #bd0040;
  margin: 0;
}

.eventAddress {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.05em;
  vertical-align: middle;
  color: #272727;
  margin: 0;
}

.BuyTicketsbtn {
  height: 86px;
  background:
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(180deg, #8d0432 0%, #bd0040 100%) border-box;
  border: 2px solid transparent;
  padding: 0 43.78px;
  font-family: "Outfit-Medium", sans-serif;
  font-weight: 500;
  font-size: 27.93px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15.65px;
  border-radius: 100px;
  color: #bd0040;
  cursor: pointer;
  border-radius: 15.65px;
}

.spacebtwdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.MainEventDiv {
  padding-left: 68.5px;
  padding-right: 68.5px;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 58px;
}

.linetour {
  width: 100%;
  height: 1px;
  background-color: #00000033;
  margin: 40px 0;
}

.OurStorySection {
  padding: 58px 84px 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storyDiv {
  height: 44px;
  border-radius: 121.15px;
  padding-right: 22px;
  padding-left: 22px;
  gap: 16.38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
}

.storytext {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 19.66px;
  line-height: 24.23px;
  letter-spacing: 8.19px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.storyline {
  font-family: "Georama-Regular", sans-serif;
  font-weight: 400;
  font-size: 68px;
  line-height: 70px;
  letter-spacing: 0.02em;
  text-align: start;
  text-transform: capitalize;
  color: #ffffff;
  margin: 30px 0 20px;
}

.storyline span {
  font-family: "Georama-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 68px;
  line-height: 70px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #bd0040;
}

.foundedtext {
  max-width: 1079px;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  margin-bottom: 51px;
}

.SuccessContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.SuccessDiv {
  position: relative;
  height: 279px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 78px;
  align-items: start;
  justify-content: center;
  backdrop-filter: blur(3.61px);
}

.SuccessDiv::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 0.9px;
  background: linear-gradient(
    137.92deg,
    rgba(189, 0, 64, 0.175) 12.07%,
    rgba(189, 0, 64, 0.7) 39.55%,
    rgba(141, 4, 50, 0.7) 63.36%,
    rgba(141, 4, 50, 0.245) 92.67%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.SuccessNum {
  font-family: "Georama-Bold", sans-serif;
  font-weight: 700;
  font-size: 105px;
  line-height: 105px;
  letter-spacing: 0.05em;
  vertical-align: middle;
  background: linear-gradient(180deg, #8d0432 0%, #bd0040 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin: 0;
  display: flex;
  align-items: center;
}

.SuccessNum span {
  font-family: "Georama-Bold", sans-serif;
  font-weight: 700;
  font-size: 105px;
  line-height: 54.22px;
  letter-spacing: 0.05em;
  vertical-align: middle;
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.SuccessLabel {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
  font-size: 31px;
  line-height: 41px;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: capitalize;
  color: #ffffff;
  margin: 30px 0 0 0;
}

.SurtaalMainRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 63px;
}
.SurtaalMainCol {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.Surtaalpara {
  font-family: Montserrat-Regular;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0%;
  color: #cfcfcf;
  width: 828px;
}

.EntertainmentDiv {
  background-color: #080600;
  padding: 55px 114px 45px;
}

.DividerEntertainment {
  width: 100%;
  background-color: #ffffff2b;
  height: 1px;
}
.straightlinediv {
  height: 600px;
  width: 1px;
  background-color: #ffffff2b;
  position: relative; /* important */
}

.circleentertainment {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background-color: #bd0040;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.entertainmentartistbox {
  padding: 0px 109px 0px 94px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 95px;
}

.divrow {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.starrrname {
  font-family: Georama-Regular;
  font-weight: 400;
  font-style: Regular;
  font-size: 78px;
  leading-trim: NONE;
  line-height: 80px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: #ffffff;
  max-width: 430px;
}

.booknowbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 74px;
  padding: 0 43.24px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  border-radius: 13.45px;
  cursor: pointer;
  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(180deg, #8d0432 0%, #bd0040 100%) border-box;
  border: 2px solid transparent;
}

.imageWrapper {
  display: inline-block;
  padding: 2px; /* border thickness */
  border-radius: 20px;
  background: linear-gradient(180deg, #8d0432 0%, #bd0040 100%);
}

.aristimage {
  height: 455px;
  width: auto;
  border-radius: 20px;
  display: block;
}

.Divmainrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1440px) {
  .MainHome {
    padding: 190px 20px 175px;
  }
  .Celebrate {
    padding: 8.76px 20.63px;
    margin-bottom: 31.51px;
  }
  .CircleDiv {
    height: 10.5px;
    width: 10.5px;
  }
  .Celebratetext {
    font-size: 18px;
    line-height: 22px;
  }
  .FeelText {
    font-size: 66.03px;
    margin-bottom: 39px;
    line-height: 70px;
  }
  .Leteverytext {
    font-size: 16.51px;
    line-height: 20px;
    margin-bottom: 39px;
    max-width: 714px;
  }
  .SeeHowbtn {
    height: 55.53px;
    gap: 10px;
    font-size: 18.01px;
  }
  .SeeHowbtn img {
    width: 10px;
    height: 10px;
  }
  .ourServices {
    padding: 43.52px 63.78px 77.15px 63.78px;
  }
  .ServicesDiv {
    height: 33.19px;
    padding: 0 17.82px;
    margin-bottom: 31.51px;
  }
  .CircleServices {
    height: 8.6px;
    width: 8.6px;
  }
  .ServicesText {
    font-size: 14.75px;
    line-height: 18px;
    letter-spacing: 6.15px;
  }
  .WhatWeOffer,
  .WhatWeOffer span {
    font-size: 51.02px;
    line-height: 55px;
    margin-bottom: 28.51px;
  }
  .ServiceDescTop {
    max-width: 714.34px;
    font-size: 15.01px;
    line-height: 18px;
    margin-bottom: 43.52px;
  }
  .ServiceCardsDiv {
    padding: 0 10.5px;
  }
  .ServiceCardsDiv img {
    width: 301.64px;
    margin-bottom: 37.52px;
  }
  .Servicename {
    font-size: 31.51px;
    line-height: 34px;
    margin-bottom: 28.51px;
  }
  .ServiceDesc {
    font-size: 15.01px;
    line-height: 18px;
  }
  .AboutDiv > img {
    width: 631.8px;
  }
  .SecondAbout {
    padding: 47.27px 54.03px 47.66px 42.77px;
  }
  .BringingText {
    font-size: 51.02px;
    line-height: 54px;
    margin-top: 0px;
    margin-bottom: 28.51px;
  }
  .AboutDesc {
    font-size: 15.01px;
    line-height: 24px;
    margin-bottom: 28.51px;
  }
  .Oureventdiv {
    padding: 46.52px 63.78px 50.75px;
  }
  .MainEventDiv {
    padding: 50px 51px 8px;
  }
  .event21 {
    font-size: 69.03px;
  }
  .eventMonth {
    font-size: 36.02px;
  }
  .littleline {
    height: 99px;
  }
  .eventCity {
    font-size: 36.02px;
  }
  .eventAddress {
    font-size: 21.01px;
    line-height: 24px;
  }
  .eventLocationCol {
    gap: 24px;
    max-width: 643.05px;
  }
  .eventDateCol {
    margin-right: 30px;
    gap: 18px;
  }
  .BuyTicketsbtn {
    height: 64.53px;
    font-size: 20.96px;
    padding: 0 32px;
  }
  .BuyTicketsbtn img {
    height: 12.5px;
    width: 12.5px;
  }
  .linetour {
    margin-bottom: 30px;
  }
  .OurStorySection {
    padding: 43px 62px 40px;
  }
  .storyDiv {
    height: 33.02px;
    padding: 0 16.5px;
    gap: 12px;
  }
  .storytext {
    font-size: 14.75px;
    letter-spacing: 6.15px;
  }
  .storyline,
  .storyline span {
    font-size: 51.02px;
    line-height: 54px;
  }
  .foundedtext {
    max-width: 809.63px;
    margin-bottom: 38.51px;
  }
  .SuccessDiv {
    height: 209.35px;
    padding: 0px 58.5px 0px 52px;
  }
  .SuccessNum {
    font-size: 78.79px;
    line-height: 80px;
  }
  .SuccessLabel {
    margin-top: 36px;
    font-size: 23.26px;
  }
  .EntertainmentDiv {
    padding: 41px 85px 48px;
  }
  .Surtaalpara {
    font-size: 15.01px;
    line-height: 24px;
    max-width: 620px;
  }
  .SurtaalMainCol {
    gap: 0px;
  }
}
